
img {
    width: 45%;  
}
#special_image {
    width: 34%;    
}
a {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: gray;
    text-decoration: none;
}
p {
    margin: 0px 20px;
}
.event {
    text-decoration: underline;

}
header {
    text-align: center;
}